@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "variables";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 85px !important;
  font-weight: bold;
}

h2 {
  font-size: 36px!important;
}

h3 {
  font-size: 22px!important;
  font-weight: bolder;
  color: $white;
}

h4 {
  font-size: 22px;
  color: $white;
}

p {
  font-size: 16px;
  color: $white;
}

.btn.btn-outline-primary {
  min-width: 215px;
  font-size: 18px;
  color: $white;
  font-weight: bold;
  padding: 10px 0;
}
