@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "variables";
@import "~slick-carousel/slick/slick";

:root {
  --blue: #2780e3;
  --indigo: #6610f2;
  --purple: #613d7c;
  --pink: #e83e8c;
  --red: #ff0039;
  --orange: #f0ad4e;
  --yellow: #ff7518;
  --green: #587458;
  --teal: #20c997;
  --cyan: #9954bb;
  --primary: #587458;
  --secondary: #bfd9a8;
  --success: #587458;
  --info: #9954bb;
  --warning: #ff7518;
  --danger: #ff0039;
  --gray-700: #495057FF;
  --light: #262626;
  --dark: #191919FF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 85px !important;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px !important;
  font-weight: bolder;
  color: $white;
}

h4 {
  font-size: 22px;
  color: $white;
}

p {
  font-size: 16px;
  color: $white;
}

.btn.btn-outline-primary {
  min-width: 215px;
  font-size: 18px;
  color: $white;
  font-weight: bold;
  padding: 10px 0;
}

@media (max-width: 578px) {
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}
